<html>
    <head><title>Test Scan</title></head>
    <body style="background-color: black;">
        <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:cadetblue">SCAN RESULT :</h1>h1>
        <hr>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">URL: <span style="color:chartreuse"><%= url %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">IP: <span style="color:chartreuse"><%= ip %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cipher: <span style="color:darkorange"><%= ciph %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">CertificateId: <span style="color:red"><%= cid %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">KeyExchangeGroup: <span style="color:chartreuse"><%= ke %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">CertIssuer: <span style="color:chartreuse"><%= ci %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">certificateTransparencyCompliance: <span style="color:chartreuse"><%= ct %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">content-security-policy: <span style="color:chartreuse"><%= csp %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Expiry: <span style="color:chartreuse"><%= exp %></span></p> 
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">x-xss-protection: <span style="color:red"><%= xss %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">TLS version: <span style="color:yellow"><%= tls %></span></p>
        <p style="color:blanchedalmond;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">X-Frame-Options: <span style="color:yellow"><%= xfo %></span></p>  
        </body>
    </html>